body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background: linear-gradient(90deg, var(--blue) 0%, var(--lightBlue) 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.user__input {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

.user__input__icon {
    width: 8rem;
    height: 8rem;
    animation: rps-image steps(1) 5s infinite, rps-movement 5s infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes rps-movement {
    0% {
        rotate: 0;
    }
    16.5% {
        rotate: -40deg;
    }
    33% {
        rotate: 0deg;
    }
    49.5% {
        rotate: -40deg;
    }
    66% {
        rotate: 0deg;
    }
    82.5% {
        rotate: -40deg;
    }
    100% {
        rotate: 0;
    }
}

@keyframes rps-image {
    0% {
        background-image: url("http://localhost:3000/svg/rock.svg");
    }
    33% {
        background-image: url("http://localhost:3000/svg/paper.svg");
    }
    66% {
        background-image: url("http://localhost:3000/svg/scissors.svg");
    }
    100% {
        background-image: url("http://localhost:3000/svg/rock.svg");
    }
}

.user__input__title {
    text-align: center;
}

.user__input__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


